<ion-header>
    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <!--Browse Github-->
    <ion-card>
        <ion-card-header>
            <h2>Browse Repository</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-list no-lines>
                <ion-item [navPush]="schemasPage">
                    Translators
                </ion-item>
                <ion-item [navPush]="onboardingMethodsPage">
                    Onboarding
                </ion-item>
                <ion-item [navPush]="voiceHandlersPage">
                    Voice
                </ion-item>
            </ion-list>
            <ion-note>
                http://github.com/openT2T
            </ion-note>
        </ion-card-content>
    </ion-card>

    <ion-content padding *ngIf="!authService.authenticated()">
        <button block (click)="authService.login()">Login</button>
    </ion-content>

    <ion-card padding *ngIf="authService.authenticated()">
        <ion-card>
            <ion-item *ngIf="authService.user">
                <ion-avatar item-left>
                    <img src="{{ authService.user.picture }}">
                </ion-avatar>
                <h2>{{ authService.user.nickname }}</h2>
                <p>{{ authService.user.email }}</p>
            </ion-item>
        </ion-card>
        <button block (click)="authService.logout()">Logout</button>
    </ion-card>

    <!--Miscellaneous-->
    <button success full [navPush]="pluginTestPage">Plugin Test</button>

</ion-content>